@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}
body {
    font-family: same_serif;
    background-image: url(/pjo/acbf54ecbccec89a1da8507378e2303d.jpg);
    background-repeat: no-repeat;
    overflow: hidden;
    background-size: cover;

 }
.container {
    width: 380px;
    margin: 7% auto;
    border-radius: 25px;
    background-color: rgba(0,0,0,0.2);
    box-shadow: 0 0 17px grey;
}


.header {
    text-align:center;
    padding-top: 75px;
}

.header h1 {
    color:Black;
    font-size: 45px;
    margin-bottom: 80px;

}

.main {
    text-align: center;
}
.container h1{
    color: forestgreen;
}
.main input, button {
    width: 300px;
    height: 45px;
    border: none;
    outline: none;
    padding-left: 40px;
    box-sizing: border-box;
    font-size:15px;
    color: black;
    margin-bottom:40px;
}

.main button{
    margin-top: 1rem;
    display: inline-block;
    padding:0rem 3rem;
    font-size: 1.7rem;
    border-radius: .5rem;
    border:.2rem solid black;
    color:black;
    cursor: pointer;
    background: none;
}
.main button:hover{
    background: green;
    color:#fff;
}

.main input:hover {
    box-shadow: 2px 2px 5px grey ;
    background-color:darkgray; 
}
.main span {
    position: relative;
}

.main i {
    position: absolute;
    left: 15px;
    color: black;
    font-size: 15px;
    top: 2px;
}